div{
    border:darkorange solid 4px;
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background-color: ivory;

}

section{

    border: darkorange solid 6px;
    display: flex;

    justify-content:center;
    gap:10px;
    flex-direction: column;
    width: 400px;
    height: 300px;
    align-items: center;

}

#myboton{

    width: 90px;
    height: 60px;
}

#pizarra{
    width: 200px;
    height: 100px;
}
